## OS
.DS_Store
.idea
.editorconfig
package-lock.json
.npmrc

# Ignored suffix
*.log
*.md
*.svg
*.png
*ignore

## Local
site/vendor
test/base/no-cond-assign/bad.js
test/base/no-irregular-whitespace/bad.js
test/base/no-labels/bad.js
test/base/no-sequences/bad.js
test/base/no-useless-rename/bad.js
test/base/rest-spread-spacing/bad.js
test/base/array-bracket-spacing/bad.js
test/base/arrow-spacing/bad.js
test/base/block-spacing/bad.js
test/base/brace-style/bad.js
test/base/comma-spacing/bad.js
test/base/comma-style/bad.js
test/base/eol-last/bad.js
test/base/generator-star-spacing/bad.js
test/base/computed-property-spacing/bad.js
test/base/key-spacing/bad.js
test/base/keyword-spacing/bad.js
test/base/new-parens/bad.js
test/base/new-parens/good.js
test/base/no-floating-decimal/bad.js
test/base/no-multi-spaces/bad.js
test/base/no-multiple-empty-lines/bad.js
test/base/no-return-assign/bad.js
test/base/no-whitespace-before-property/bad.js
test/base/object-curly-spacing/bad.js
test/base/one-var/bad.js
test/base/operator-linebreak/bad.js
test/base/quote-props/bad.js
test/base/quotes/bad.js
test/base/space-in-parens/bad.js
test/base/space-unary-ops/bad.js
test/vue/no-irregular-whitespace/bad.vue
test/vue/no-irregular-whitespace/good.vue

test/base/.eslintrc.js
test/typescript/.eslintrc.js
test/vue/.eslintrc.js

## Built-files
.cache
dist

yarn.lock
